@media only screen and (max-width: 940px) {
  .text_button h1 {
    font-size: 40px;
    padding: 0 15px;
  }
  .text_button p {
    width: 80%;
    font-size: 18px;
  }
}
@media only screen and (max-width: 890px) {
  .content {
    flex-direction: column;
  }
  .para {
    max-width: 80%;
  }
  .col {
    width: 50%;
  }
}
@media only screen and (max-width: 400px) {
  .col {
    width: 100%;
  }
}
@media only screen and (max-width: 1084px) {
  .social_row {
    flex-wrap: wrap;
  }
  .social_col {
    box-sizing: border-box;
    max-width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .social_col {
    max-width: 100%;
    padding: 15px 0;
    /* padding: 15px 0 10px 0px; */
  }
}
@media only screen and (max-width: 500px) {
  .image_Style {
    margin-top: 20px;
    width: 330px;
  }
  .spanF {
    font-size: 16px;
  }
  .heading {
    font-size: 22px;
  }
}
